.Home .lander {
  height: 89vh;
  padding: 80px 0;
  text-align: center;
  grid-area: content;
}

.Home .lander h1 {
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
}

.Home .lander p {
  color: #999;
}

.Home .lander div {
  padding-top: 20px;
}
.Home .lander div a:first-child {
  margin-right: 20px;
}

.Home .container h4 {
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  line-height: 1;
}

.Home .container p {
  color: #666;
}

#demo {
  margin: 5vh;
}

.container {
  padding-left: 0;
  min-height: 100%;
  width: 100vw;
}

.datebar {
  margin: 2rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

#year {
  margin-bottom: 2vh;
}

#year-select {
  width: 15rem;
  margin-left: 1rem;
  margin-bottom: 1rem;
  margin: 0 auto;
}

#newbed {
  width: 20rem;
  background-color: #FEF2C1;
  margin-top: 10px;
  margin: 0 auto;
}

.bedlink {
  margin: 1rem;
  background-color: #D0E6AE;
}

span {
  display: block;
}

#beds {
  display: flex;
  text-align: center;
  flex-wrap: wrap;
  margin: 0 auto;
}

#recButton {
  background-color: #FEF2C1;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.rec-holder {
  min-height: 20vh;
  display: flex;
  margin: 1rem;
  flex-wrap: wrap;
  overflow: auto;
}

.rec-body {
  height: 20vh;
  border: 1px solid black;
  margin: 1rem;
  padding: 5px;
  background-color: #E6E1AE;
}

.rec-scroll {
  height: 75%;
  overflow: scroll;
}

ul {
  list-style-type: none;
  padding-left: 0px;
}

@media screen and (min-width: 600px) {
  .bedlink {
      flex: 1 1 calc(50% - 2rem);
  }
  .rec-body {
    flex: 1 1 calc(50% - 2rem);
  }
}
@media screen and (min-width: 900px){
  .bedlink {
      flex: 1 1 calc(33% - 2rem);
  }
  .rec-body {
    flex: 1 1 calc(33% - 2rem);
  }
}
