.Home .lander {
  padding: 80px 0;
  text-align: center;
}

.Home .lander h1 {
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
}

.Home .lander p {
  color: #999;
}

.Home .lander div {
  padding-top: 20px;
}
.Home .lander div a:first-child {
  margin-right: 20px;
}

.Home .container h4 {
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  line-height: 1.5;
}

.Home .container p {
  color: #666;
}

#year {
  display: flex;
}

#year-select {
  width: 30rem;
  margin-left: 1rem;
}

.Home .bedlink {
  margin: 1rem;
}

#beds {
  display: flex;
}

.rec-holder {
  display: flex;
}

.rec-body {
  height: 20vh;
  border: 1px solid black;
  overflow: scroll;
  margin: 1rem;
  padding: 5px;
}

ul {
  list-style-type: none;
}

@media screen and (min-width: 600px) {
  .bedlink {
      flex: 1 1 calc(50% - 2rem);
  }
  .rec-body {
    flex: 1 1 calc(50% - 2rem);
  }
}
@media screen and (min-width: 900px){
  .bedlink {
      flex: 1 1 calc(33% - 2rem);
  }
  .rec-body {
    flex: 1 1 calc(33% - 2rem);
  }
}
