.NewBed {
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  padding-left: 15px;
}

.NewBed form {
  padding-bottom: 15px;
  padding-left: 15px;
  max-width: 75vw;
}

.NewBed form textarea {
  height: 100px;
  font-size: 24px;
}

#new-button {
  background-color: #D0E6AE;
  color: black;
  border: 1px solid #E6E1AE;
  margin-bottom: 2vh;
}

#new-button:hover {
  background-color: #ACF2B2;
  border-color: #ACF2B2;
  color: black;
}
